body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.noteblockAll {
    height: 500px;
    width: 75%;
    background-color: white;
    display: block;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    justify-content: center;
}

.noteblockTop {
    height: 15%;
    background-color: #ffd900;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    justify-content: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    border: solid black;
    display: flex;
}